// Define variables for your color scheme

// For example:

$bg-color: #1F1F1F;
$surface-z1: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #1F1F1F;
$surface-z2: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #1F1F1F;
$surface-z3: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #1F1F1F;

$orange: #DB7F4F;

$text-color-primary: hsl(0, 0%, 87%);
$text-color-secondary: hsl(0, 0%, 70%);