@font-face {
  font-family: inter;
  src: url("https://public-asse.s3.ca-central-1.amazonaws.com/fonts/Inter.var.woff2");
  font-weight: 100 900;
}
:root {
	/* 9px to 12px */
	--fsz-xs: clamp(0.5625rem, 0.4773rem + 0.2273vw, 0.75rem);
	/* 12px to 18px */
	--fsz-sm: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
	/* 18px to 24px */
	--fsz-md: clamp(1.125rem, 0.9545rem + 0.4545vw, 1.5rem);
	/* 24px to 32px */
	--fsz-lg: clamp(1.5rem, 1.2727rem + 0.6061vw, 2rem);
	/* 32px to 48px */
	--fsz-xl: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);
	/* 48px to 64px */
	--fsz-2xl: clamp(3rem, 2.5455rem + 1.2121vw, 4rem);
	/* 64px to 96px */
	--fsz-3xl: clamp(4rem, 3.0909rem + 2.4242vw, 6rem);
}
