// Import page-specific CSS files here.
@import "home";

:root {
	font-family: inter;
	--surface-z1: linear-gradient(135deg, RGBA(240, 240, 255, 0.05), RGBA(240, 240, 255, 0.05)), #1f1f1f;
	--surface-z2: linear-gradient(135deg, RGBA(240, 240, 255, 0.1), RGBA(240, 240, 255, 0.1)), #1f1f1f;
	--surface-z3: linear-gradient(135deg, RGBA(240, 240, 255, 0.16), RGBA(240, 240, 255, 0.16)), #1f1f1f;
	--surface-z4: linear-gradient(135deg, RGBA(240, 240, 255, 0.24), RGBA(240, 240, 255, 0.24)), #1f1f1f;
	--light-border: 1px solid RGBA(240, 240, 255, 0.04);
	--txt-primary: RGBA(245, 245, 255, 1);
	--txt-secondary: RGBA(245, 245, 255, 0.87);

}

/*--------------- Start here ---------------*/
.card-container {
	background: var(--surface-z2);
	padding: 0 8px;
	border-radius: 16px;
	border: var(--light-border);
}

.card-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 24px 0;
}

.card-body {
	display: flex;
	max-width: 100%;
	gap: 8px;
	border-radius: 8px 4px 4px 8px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.card-foot {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0;
}

.card-title {
	font-size: 32px;
	font-weight: 500;
	color: var(--txt-primary);
	padding-left: 4px;
}

.card-rating {
	font-size: 12px;
	padding: 8px;
	background: var(--surface-z3);
	border-radius: 100vw;
}

.card-body img {
	scroll-snap-align: center;
	width: 80%;
	border-radius: 4px;
}

.card-body img:last-of-type {
	border-radius: 4px 8px 8px 4px;
}

.card-button {
	all: unset;
	font-size: 14px;
	background: var(--surface-z4);
	color: var(--txt-primary);
	padding: 16px;
	border-radius: 8px;
	font-weight: 550;
}

.above-fold--wrapper {
	padding: 60px;
	height: 70vh;
}

.form-above-fold--container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100%;
	padding: 16px;
	background: url('https://www.nasa.gov/sites/default/files/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg');
	object-fit: cover;
	border-radius: 32px;
}

.hero-img {
	position: absolute;
	z-index: -1;
	width: calc(100% - 132px);
}

button {
	padding: 16px;
	background-color: $orange;
	white-space: nowrap;
}

.inline-list--wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 60px;
	gap: 32px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #1F1F1F;
	margin: 120px 0;
}

.complementary-text--wrapper {
	padding: 60px;
}

.complementary-text--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 32px;
}

.complementary-text--container>h2 {
	width: 50ch;
}

.material-symbols-outlined.figure-icon {
		padding: 16px;
		background-color: $orange;
		border-radius: 100vw;
}

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(3, minmax(150px, 1fr));
	grid-gap: 1rem;
	padding: 60px;
}

.card-btn {
	all: unset;
	font-size: 14px;
	background: var(--surface-z4);
	color: var(--txt-primary);
	padding: 16px;
	border-radius: 8px;
	font-weight: 550;
}

.card-btn:hover {
	background-color: #DB7F4F;
	color: #562000;
	cursor: pointer;
}