<section class="above-fold--wrapper">
	<div class="form-above-fold--container">
		<h1>A world of discovery</h1>
		<button>Start your journey</button>
	</div>
</section>
<section class="inline-list--wrapper">
		<div class="inline-list--container">
		<i class="material-symbols-outlined">rocket_launch</i>
		<h2>Experience the Ultimate Adventure</h2>
		<p>Our space travel agency offers customers the chance to venture beyond the confines of our planet and explore the wonders of the universe.</p>
	</div>
	<div class="inline-list--container">
		<i class="material-symbols-outlined">travel_explore</i>
		<h2>Discover the Cosmos</h2>
		<p>Staffed by some of the world's most knowledgeable and experienced experts in space exploration.</p>
	</div>
	<div>
		<div class="inline-list--container">
		<i class="material-symbols-outlined icon">language</i>
		<h2>Unleash Your Inner Explorer</h2>
		<p>Offering a range of innovative solutions for every aspect of your space travel journey.</p>
	</div>
</section>
<section class="complementary-text--wrapper">
	<div class="complementary-text--container">
		<h2>When are you traveling ?</h2>
		<p>Offering a range of innovative solutions for every. we have everything you need to make your space adventure an unforgettable experience.</p>
	</div>
	<button>
		Start your journey
	</button>
</section>
<!-- stucture for the card  -->
<div >


</div>
<section class="card-wrapper">

	<% @planets.each do|card| %>
    <div class="card-container">
		<div class="card-head">
			<h2 class="card-title"><%= card.name %></h2>
		</div>
		<div class="card-body">
		</div>
		<div class="card-foot">
			<span class="card-price"><%= card.price_for_one_night %></span>
			<button class="card-button">See Details</button>
      <%= link_to "see Details ", show.html.erb >
		</div>
   <% end %>
	</div>
</section>

