</head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-4">
          <form action="mb-3">
            <h1>Create the planet</h1>

              <div class="row">

                <div class="mb-3">
                  <label for="planet-name" class="form-label">planet name</label>
                  <input id="planet-name" type="text" class="form-control" placeholder="name">
                </div>
              </div>

            <div class="mb-3">
              <label for="address" class="form-label">planet address</label>
              <input type="address" id="address" class="form-control" placeholder="planet address">
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label">planet description</label>
              <input type="Description" id="Description" class="form-control" placeholder="planet description" >
              <div id="description" class="description" > </div>
            </div>
            <div class="mb-3">
              <label for="Price" class="form-label">Price</label>
              <input type="Price" id="Price" class="form-control" placeholder="price" >
              <div id="Price" class="Price" > </div>
            </div>
            <input type="submit" value="create" class="btn btn-primary w-100">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
