<main>
	<h1><%= @planet.name %></h1>
	<% @plant.each do|info|%>
    <div class="planet-details">
      <div class="comp1">
        <span><%= info.name %> </span>
        <span class="card-rating">★4.64</span>
        <span class="material-symbols-outlined">travel_explore</span>
        <span><%= info.location %></span>
      </div>
      <div class="comp2">
        <button><i class="material-symbols-outlined">favorite_border</i></button>
      </div>
    </div>
  <% end %>

</main>

<style>
	main {
		padding: 60px
	}
	h1 {
		margin-bottom: 40px;
	}
	.comp-1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.card-rating {
		font-size: 12px;
		padding: 8px;
		background: var(--surface-z3);
		border-radius: 100vw;
	}
</style>
