<main>
	<h1><%= @planet.name %></h1>
	<div class="planet-details">
		<div class="comp1">
			<span class="card-rating">★4.64</span>
			<span class="material-symbols-outlined">travel_explore</span>
			<span><%= @planet.location %></span>
		</div>
		<div class="comp2">
			<button><span class="material-symbols-outlined">favorite_border</span></button>
		</div>
	</div>
<p><%=@planet.description %></p>
</main>

<style>
	main {
		padding: 60px
	}
	h1 {
		margin-bottom: 40px;
	}
	.planet-details {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
	}
	.card-rating {
		font-size: 12px;
		padding: 8px;
		background: var(--surface-z3);
		border-radius: 100vw;
	}
</style>