.navbar-lewagon {
  justify-content: space-between;
  background: $surface-z1;
}
a {
  color: $text-color-primary !important;

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
