// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
	font-family: 'Inter';
	background-color: $bg-color;
	color: white;
}
i {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48;
}
i.material-symbols-outlined {
	padding: 16px;
	background-color: $orange;
	border-radius: 100vw;
}